# Mend Unified Agent Configuration File
apiKey=1234556                     # Replace with your Mend API key
productName=SampleRProject                 # Give your project a name
projectName=SampleR                        # The name for the specific scan
#dependencyManager=auto                     # Let Mend automatically detect dependencies
offline=true                               # Offline mode to generate local results
# File Inclusion 
includes=**/*.R,**/DESCRIPTION,**/dependencies.txt,**/.lock,**/packrat

 # Dependency Resolution for R (will give posit url)
               dependency.resolution.additionalRRepos= https://packagemanager.posit.co/cran/latest 
#File extensions to analyze
extensions=R
# Enable R dependency detection
detect.r=true
# Exclude unnecessary directories (optional)
excludes=**/tests/**,**/docs/**,**/.git/**

r.resolveDependencies=true
r.runPreStep=true
r.ignoreSourceFiles=true
r.cranMirrorUrl=https://packagemanager.posit.co/cran/latest
r.packageManager=packrat

# Log level for debugging (optional)
log.level=debug